---
layout: default
title: Grid
---
<section style="position:relative"></section>
    {% assign ordered_collections = site.collections | sort: 'sequence' %}
    {% for coll in ordered_collections %}
        
        {% comment %} Skip Posts {% endcomment %}
        {% if coll.label == "posts" %} 
            {% continue %} 
        {% endif %}

        {% comment %} Link to the hompage of the topic {% endcomment %}
        <div>
            <a href='{{ site.baseurl | append:"/" | append:coll.label | append:"/" }}'><h1>{{ coll.menu_heading }}</h1></a>
        </div>
        <div class="facade">
            {% for file in site[coll.label] %}
                {% if file.name contains "index" %}
                    {% continue %}
                {% endif %}    
                <div class="pane">
                    <a href="{{ site.baseurl|append:file.url }}">
                        {% if file.thumbnail %}
                        {% assign monkey=file.thumbnail %}
                        <p>{{ monkey }}</p>
                        <img src= {{ file.thumbnail }}>
                        {% endif %}
                        {{ file.title | capitalize }}
                    </a>
                    <span class="blurb">
                        Blurb
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>
