---
layout: page
permalink: /newtopics/
---
<section style="position:relative"></section>
    <div>
        <!-- Create an empty array to store all the categories -->
        {% assign all_categories = "" | split: ',' %}

        <!-- Loop through all the files in the tutorials folder -->
        {% for file in site.tutorials %}
            <!-- Loop through all the categories in the file -->
            {% for category in file.categories %}
                <!-- Capture the category name as a string and add it to the array of all categories -->
                {% capture all_categories %}
                    {% if all_categories %}
                        {{ all_categories | join: "," }},{{ category }}
                    {% else %}
                        {{ category }}
                    {% endif %}
                {% endcapture %}
            {% endfor %}
        {% endfor %}

        <!-- Split the array of all categories into a list of unique categories and remove the first element (empty string) -->
        {% assign all_categories = all_categories | split: "," | uniq | shift %}

        <!-- Loop through all the unique categories -->
        {% for category in all_categories %}
        <h2>{{ category }}</h2>
        <ul>
            <!-- Loop through all the files in the tutorials folder and display the title of the file if it contains the current category -->
            {% for tutorial in site.tutorials %}
                {% if tutorial.categories contains category %}
                    <li>{{ tutorial.title }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}

    </div>
</section>