---
layout: page
permalink: /newtopics/
---
<section style="position:relative"></section>
    <div>
        {% for file in site.static_files %}
            {% if file.path contains 'tutorials/' %}
                <li>{{ file.title | capitalize }}</li>
            {% endif %}
            
        {% endfor %}

        <!-- {% for category in site.labels %}
        <div class="archive-group">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <div id="#{{ category_name | slugize }}"></div>
            <p></p>
        
            <h3 class="category-head">{{ category_name }}</h3>
            <a name="{{ category_name | slugize }}"></a>
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
            </article>
            {% endfor %}
        </div>
        {% endfor %} -->
    </div>



    <!-- {% assign ordered_collections = site.collections | sort: 'sequence' %}
    {% for coll in ordered_collections %}
        
        {% comment %} Skip Posts {% endcomment %}
        {% if coll.label == "posts" %} 
            {% continue %} 
        {% endif %}
        
        {% comment %} Link to the hompage of the topic {% endcomment %}
        <div>
            <a href='{{ site.baseurl | append:"/" | append:coll.label | append:"/" }}'><h1>{{ coll.menu_heading }}</h1></a>
        </div>

        {% for file in site[coll.label] %}
            
            {% if file.name contains "index" %}
                {% continue %}
            {% endif %}
            
            <div>
                - <a href="{{ site.baseurl|append:file.url }}">{{ file.title | capitalize }}</a>
            </div>
        
        {% endfor %}

    {% endfor %} -->
</section>