---
layout: page
permalink: /newtopics/
---
<section style="position:relative"></section>
    <div>
        <!-- Create an empty array to store all the categories -->
        {% assign all_categories = "" | split: ',' %}

        <!-- Loop through all the files in the articles folder -->
        {% for file in site.articles %}
            <!-- Loop through all the categories in the file -->
            {% for category in file.categories %}
                <!-- Capture the category name as a string and add it to the array of all categories -->
                {% capture all_categories %}
                    {% if all_categories %}
                        {{ all_categories | join: "," }},{{ category }}
                    {% else %}
                        {{ category }}
                    {% endif %}
                {% endcapture %}
            {% endfor %}
        {% endfor %}

        <!-- Split the array of all categories into a list of unique categories and remove the first element (empty string) -->
        {% assign all_categories = all_categories | split: "," | uniq | shift %}

        <!-- {% assign all_categories = "" | split: "" %}
        {% for tutorial in site.articles %}
        {% assign tutorial_categories = tutorial.categories %}
        {% assign all_categories = all_categories | concat: tutorial_categories | uniq %}
        {% endfor %} -->

        {% for category in all_categories %}
        <h3>{{ category }}</h3>
        <ul>
            {% for file in site.articles %}
                {% if file.categories contains category %}
                <a href="{{ site.baseurl|append:tutorial.url }}">{{ file.title | capitalize }}</a>
                {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}


    </div>
</section>