<div class="masthead" >
  <!-- Webpage title -->
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
    <!-- Add a line break if the screen is small -->
    <span class="small-screen"></span>
    <!-- Uncomment to have the tagline in the top navigation -->
    <small>{{ site.tagline }}</small>
  </h1>

  <!-- Top navigation bar. Takes entries from pages_list in _config.yml-->
  <div class="topnav">
    <ul>
      <!-- Home button -->
      <li><a class="topnav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a></li>

      <!-- About button -->
      <li><a class="topnav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/about/">About</a></li>

      <!-- Topics dropdown - loaded from topics_list in _config.yml-->
      <div class="topnav-dropdown">
        <button class="dropbtn" onclick="toggleDropdown()">Topics</button>
        <div class="dropdown-content" id="topics_content">
          {% for coll in site.collections %}
            {% comment %} Skip Posts {% endcomment %}
            {% if coll.label == "posts" %} 
              {% continue %} 
            {% endif %}

            {% comment %} Link to the hompage of the topic {% endcomment %}
            <a href={{ "../" | append:coll.label | append:"/" }}>{{ coll.label | capitalize }}</a>
          {% endfor %}
        </div>
      </div>

    </ul>
  </div>
</div>


<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function toggleDropdown() {
  document.getElementById("topics_content").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var topics_cont = document.getElementById("topics_content");
    if (topics_cont.classList.contains('show')) {
      topics_cont.classList.remove('show');
    }
  }
}
</script>