<div class="sidebar">
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        If it is the home or about page then have the topics in the
        sidebar
      {% endcomment %}
      <span class="sidebar-nav-item">{{ page.url }}</span>
      <span class="sidebar-nav-item">{{ site.baseurl | append: "/about/" }}</span>
      {% if page.url == {{ site.baseurl | append: "/" }} or page.url == {{ site.baseurl | append: "/about/" }} %}
        <span class="sidebar-nav-item">Topics</span>
        {% for topic in site.topics_list %}
          <a class="sidebar-nav-item" href="{{ site.baseurl }}{{ topic[1] }}">{{ topic[0] }}</a>
        {% endfor %}
      {% endif %}


      {% for topic in site.topics_list %}

      {% endfor %}

<!--       {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %} -->
      <span class="sidebar-nav-item">Version {{ site.version }}</span>
    </nav>
</div>
