<div class="sidebar">
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %}active{% endif %}" href={{ site.baseurl | append: "/" }}>Home</a>
      
      {% comment %} Dynamic part of the sidebar {% endcomment %}
      <div class=sidebar-dynamic>
        {% comment %} If it is the home or about page then have the collections in the sidebar {% endcomment %}
        {% if page.url == "/" or page.url == "/about/" %}
          <span class="sidebar-nav-item">Topics</span>
          
          {% for coll in site.collections %}
            {% comment %} Skip Posts {% endcomment %}
            {% if coll.label == "posts" %} 
              {% continue %} 
            {% endif %}

            {% comment %} Link to hompage of the collection {% endcomment %}
            <a class="sidebar-nav-item" href={{ site.baseurl | append:"/" | append:coll.label | append:"/" }}>{{ coll.label | capitalize }}</a>
          {% endfor %}
        {% endif %}

        {% comment %} If it is one of the collection pages then have the colelction specific links {% endcomment %}
        {% for coll in site.collections %}
          {% if page.url contains coll.label %}
            {% comment %} Link to hompage of the collection {% endcomment %}
            <div class="sidebar-dynamic-header">
              <a href="index.html">{{ coll.label | capitalize }}</a>
            </div>

            {% comment %} Links to files in the collection {% endcomment %}
            <div class="sidebar-dynamic-item">
              <ul>
                {% for file in site[coll.label] %}
                  <li>
                    <a href={{site.baseurl | append:file.url }}>{{ file.title | capitalize }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

        {% endfor %}
      </div>

      <span class="sidebar-nav-item">Version {{ site.version }}</span>
    </nav>
</div>
