<head>
  <!-- Enable compatibility for IE9 and above-->
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- This is the text that appears in the browser tab. Title and Tagline on the homepage, Title on the rest. -->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Add stylesheet -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  
  <!-- Add Atom feed, like RSS feed so that programs looking for update on this website and find them. Here we are specifying an alternate version of the website -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">

  <!-- Add favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

  <!-- Search engine optimization title is set to false -->
  {% seo title=false %}
</head>
