// Content and footer style

/* Content
 */
.content {
  margin-left:  auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left:  1rem;
  padding-right: 1rem;
  padding-top:    0rem;
  padding-bottom: 1rem;
  margin-top: auto;
  // background-color: #808080; 

  // If the screen size is medium or large,
  // expand the width of the content to max screen width.
  @media (min-width: $width-medium-screen) {
    //margin-left: calc(#{$width-sidebar} + 2rem);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 10rem;
  }
}

/*
 * Reverse layout - This is not properly implemented.
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 * To use this add .layout-reverse to the div class in _includes/sidebar.html
 */
// @media (min-width: $width-medium-screen) {
//   .layout-reverse .sidebar {
//     left: auto;
//     right: 0;
//   }
//   .layout-reverse .content {
//     margin-left: 2rem;
//     margin-right: calc(#{$width-sidebar} + 2rem);
//   }
// }
