// Content and footer style

/* Content
 */
.content {
  margin-left:  auto;
  margin-right: auto;
  margin-top: 30rem;
  padding-left:  1rem;
  padding-right: 1rem;
  padding-top:    1rem;
  padding-bottom: 1rem;

  // If the screen size is medium or large,
  // expand the width of the content to max screen width.
  @media (min-width: $width-medium-screen) {
    // max-width: 100%; // 38rem
    margin-left: calc(#{$width-sidebar} + 2rem); // 20rem;
    margin-right: 2rem;
  }
}


/*
 * Reverse layout - This is not properly implemented.
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 * To use this add .layout-reverse to the div class in _includes/sidebar.html
 */
// @media (min-width: $width-medium-screen) {
//   .layout-reverse .sidebar {
//     left: auto;
//     right: 0;
//   }
//   .layout-reverse .content {
//     margin-left: 2rem;
//     margin-right: calc(#{$width-sidebar} + 2rem);
//   }
// }

/*
* Footer
*/
footer {
  margin-bottom: 2rem;
}
