// Layout
//
// Styles for managing the structural hierarchy of the site.

/*
 * Contents
 *
 * Container
 * Reverse layout
 * Footer
 */

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.container {
  // max-width: calc(#{$width-medium-screen} - 6rem); // Have some side margins for small screens
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

.content {
  padding-top:    1rem;
  padding-bottom: 1rem;
}
// If the screen size is medium or large,
// expand the width of the content to max screen width.
@media (min-width: $width-medium-screen) {
  .content {
    // max-width: 100%; // 38rem
    margin-left: calc(#{$width-sidebar} + 2rem); // 20rem;
    margin-right: 2rem;
  }
}

/*
 * Reverse layout - This is not properly implemented.
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 * To use this add .layout-reverse to the div class in _includes/sidebar.html
 */
// @media (min-width: $width-medium-screen) {
//   .layout-reverse .sidebar {
//     left: auto;
//     right: 0;
//   }
//   .layout-reverse .content {
//     margin-left: 2rem;
//     margin-right: calc(#{$width-sidebar} + 2rem);
//   }
// }

/*
* Footer
*/
footer {
  margin-bottom: 2rem;
}
