// Master header

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0.5rem;
  // padding-bottom: 0.5rem;
  // width: 100%;
  overflow: hidden;
  background-color: white;
  height: 6.25rem;
  // adjust height for very small screens since the tagline will take another line
  @media (max-width: $width-very-small-screen)
  {
    height: 7.5rem;
  }
  // background-color: red;
}

.masthead-title {
  font-family: "Abril Fatface", serif;
  font-size: 2.0rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;

  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  padding-left: 2rem;
  padding-right: 4rem;
  // smaller padding and centre align for small screens
  @media (max-width: $width-medium-screen)
  {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  // for screens that are even smaller reduce the font size
  @media (max-width: $width-very-small-screen)
  {
    font-size: 1.5rem;
  }

  a {
    color: white;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
    color: white;
  }
}

// additional critera to make tagline go to 
// next line for small screens
.small-screen {
  @media (max-width: $width-very-small-screen)
  {
    display: block;
  }
}
