/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

// sidebar is normally on the top
.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
  margin-top: 6.25rem;

  // adjust height for very small screens since the tagline will take another line
  @media (max-width: $width-very-small-screen)
  {
    height: 7.5rem;
  }

  // if the screen size is larger than medium screen then put the sidebar on the side
  @media (min-width: $width-medium-screen) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $width-sidebar;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
/* Sidebar nav item */
.sidebar-nav-item{
  display: block;
  line-height: 1.75;

  a:hover, a:focus {
    text-decoration: underline;  
  }
}


/* The part of the sidebar that changes based on topics*/
.sidebar-dynamic
{
  padding-top: 1rem;
}
/* Header for the topics*/
.sidebar-dynamic-header {
  a {
    color: rgba(255, 255, 255, 0.5);
  }
  a:hover, a:focus {
    text-decoration: underline;  
  }

  display: block;
  line-height: 1.75;
  font-weight: bold;
}
/* sub-topics*/
.sidebar-dynamic-item {
  margin-left: 1rem;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

 @media (min-width: $width-medium-screen) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}