.topnav {
	padding-left: 1rem;
	background-color: #303030;

	// adjust font and padding to first tab based on screen size
	font-size: $root-font-size;
	@media (min-width: $width-medium-screen)
	{
		font-size: $font-size-medium-screen;
		padding-left: $width-sidebar;
	}
	@media (min-width: $width-large-screen)
	{
		font-size: $font-size-large-screen;
		padding-left: $width-sidebar;
	}

	/* Unordered list - this is what the navigation bar is */
	ul {
		overflow: hidden;
		list-style-type: none;
	}
	/* List items */
	li {
		float: left;	// horizontal stacking of list items
	}
}

/* Common style for list items and dropdown*/
.topnav-item,
.topnav-dropdown{
	color: white;
	// background-color: blue;
	// These first value should be the sum of the subsequent three values
	// for vertically centered text
	height: 2rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	line-height: 1.5rem;
	
	display: block;
	text-decoration: none;
	text-align: center;
	
	padding-left: 1rem;
	padding-right: 1rem;
}
/* Active nav item links appears in bold */
.topnav-item.active {
	font-weight: bold;
}

.topnav-dropdown
{
	float: left;
  	// overflow: hidden;
}

.dropbtn
{
	font-size: inherit;
  	color: inherit;
  	background-color: inherit;
  	font-family: inherit; /* Important for vertical align on mobile phones */
  	margin: 0; /* Important for vertical align on mobile phones */
  	padding-top: 0rem;
  	padding-bottom: 0rem;
  	height: 1.5rem;
  	border: none;
  	// outline: none;
  	cursor:pointer;	/* make the cursor a hand*/
  	float: left;
  	display: inline-block;
}
.dropbtn:hover, .dropbtn:focus {
	text-decoration: underline;
}

.dropdown-content {
  	display: none;	// initially do not display
  	position: fixed;
  	margin-top: 1.75rem;
  	background-color: #454545;
  	min-width: 160px;
  	// box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	// z-index: 1;

  	a {
  		float: none;
  		color: white;
  		text-decoration: none;
  		display: block;
  		text-align: left;
  		padding-left: 1rem;
  		padding-right: 1rem;
  		padding-top: 0.25rem;
  		padding-bottom: 0.25rem;
  	}
	a:hover, a:focus {
  		text-decoration: underline; 
	}
}

.show {
  display: block;
}


// /* Add a grey background color to dropdown links on hover */
// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// /* Show the dropdown menu on hover */
// .dropdown-content {
//   display: block;
// }