.topbar-nav {
	margin-bottom: 0.5rem;
	padding-left: 1rem;
	background-color: #303030;
	// colour of links is white
	a {
		color: #fff;
	}

	// adjust font and padding to first tab based on screen size
	font-size: $root-font-size;
	@media (min-width: $width-medium-screen)
	{
		font-size: $font-size-medium-screen;
		padding-left: 2rem;
	}
	@media (min-width: $width-large-screen)
	{
		font-size: $font-size-large-screen;
		padding-left: 4rem;
	}

	ul {
		overflow: hidden;
		list-style-type: none;
	}

	li {
		float: left;	// horizontal stacking
	}
}

.topbar-nav-item {
	// These first value should be the sum of the subsequent three values
	// for vertically centered text
	height: 2rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	line-height: 1.5rem;
	
	display: block;
	text-decoration: none;
	text-align: center;
	
	padding-left: 1rem;
	padding-right: 1rem;
}

a.topbar-nav-item:hover,
a.topbar-nav-item:focus {
	text-decoration: underline;
}

.topbar-nav-item.active {
	font-weight: bold;
}